* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 205, 205);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    line-height: 1.6;
}

/* mensaje de alerta */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px); 
    }
}

.alert {
    animation: fadeOut 5s forwards;
}


.contenedor {
    width: 60%;
    margin: 100px auto;
    background-color: whitesmoke;
    box-shadow: 2px 2px 7px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

/* Contenedor padre */
.layout {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 20px; /* Espacio entre la barra y el contenedor */
}


/* header */
.busqueda {
    margin-left: 70px;
    margin-top: 120px; 
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f0f0f0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.search-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px;
    background: #3f7bbf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-button:hover {
    background: #007bbd;
}


.nombre {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-bottom: 2px solid #3f7bbf;
}

.nombre h2 {
    font-size: 24px;
    color: #3f7bbf;
}


.botones {
    display: flex;
    gap: 20px;
}

.botones a {
    padding: 10px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.botones a:hover {
    background-color: #c6c6c6;
}



.section {
    margin: 20px 0;
}

.section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #3f7bbf;
    border-bottom: 2px solid rgb(77, 77, 77);
    padding-bottom: 5px;
}

.section ul {
    list-style: none;
    margin-left: 10px;
}

.section li {
    margin: 5px 0;
    font-size: 1.2em;
}

.columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    padding: 0;
    list-style: none;
    margin: 0;
    background-color: #ffffff;
    border-radius: 6px;
    border: 2px solid rgb(192, 192, 192);
}

.columnas li {
    padding: 5px 0;
    font-size: 1.2em;
    color: #333;
}

.columnas li strong {
    font-weight: bold;
    color: #495057;
}